<%= render :partial => '/events/nav' %>

<% @user = User.find(params[:id])%>
<% if @user == current_user %>
  <h1>My Events</h1>
  <ul>
    <% @user.created_events.sort_by(&:datetime).each do |event| %>
      <li>
        <%= link_to event.title, event %>
      </li>
    <% end %>
  </ul>

  <h2>Events I'm Attending</h2>
  <h3>Upcoming Events</h3>
  <ul>
    <% @user.attended_events.sort_by(&:datetime).select { |event| event.datetime > Time.now }.each do |event| %>
      <li>
        <%= link_to event.title, event %>
      </li>
    <% end %>
  </ul>

  <h3>Past Events</h3>
  <ul>
    <% @user.attended_events.sort_by(&:datetime).select { |event| event.datetime < Time.now }.each do |event| %>
      <li>
        <%= link_to event.title, event %>
      </li>
    <% end %>
  </ul>

<% else %>
  <h1><%= @user.name.possessive %> Events</h1>
  <ul>
    <% @user.created_events.sort_by(&:datetime).each do |event| %>
      <li>
        <%= link_to event.title, event %>
      </li>
    <% end %>
  </ul>

  <h2>Events <%= @user.name %> is Attending</h2>

  <h3>Upcoming Events</h3>
  <ul>
    <% @user.attended_events.sort_by(&:datetime).select { |event| event.datetime > Time.now }.each do |event| %>
      <li>
        <%= link_to event.title, event %>
      </li>
    <% end %>
  </ul>

  <h3>Past Events</h3>
  <ul>
    <% @user.attended_events.sort_by(&:datetime).select { |event| event.datetime < Time.now }.each do |event| %>
      <li>
        <%= link_to event.title, event %>
      </li>
    <% end %>
  </ul>
<% end %>
