<h1>Events</h1>

<% if user_signed_in? %>
  <p>Current user: <%= current_user.name %> |
    <%= link_to 'My Page', user_path(current_user) %>
  </p>
  <%= link_to 'Sign Out', sign_out_path_url, method: :delete %><br />
  <%= link_to 'New Event', new_event_path %>
<% else %>
    <%= link_to 'Sign In', sign_in_path_url%>
<% end %>

<h3>Upcoming Events</h3>
<ul>
  <% @events.upcoming.each do |event| %>
    <li>
      <%= link_to event.title, event %> — <%= event.datetime.strftime('%a, %b %e @ %l:%M %p') %>
      <div>created by <%= event.creator.name %></div><br />
    </li>
  <% end %>
</ul>

<h3>Past Events</h3>
<ul>
  <% @events.past.each do |event| %>
    <li>
      <%= link_to event.title, event %> — <%= event.datetime.strftime('%a, %b %e @ %l:%M %p') %>
      <div>created by <%= event.creator.name %></div><br />
    </li>
  <% end %>
</ul>