<h1><%= @event.title %></h1>

<p><strong>Event Creator:</strong> <%= link_to @event.creator.name, user_path(@event.creator) %> (<%= link_to @event.creator.email, 'mailto:#{@event.creator.email}' %>)</p>

<p><strong>Event Date:</strong> <%= @event.datetime.strftime('%A, %B %e, %Y at %l:%M %p') %></p>

<p><strong>Event Location:</strong> <%= @event.location %></p>

<p><strong>Event Attendees:</strong></p>
<ul>
<% @event.attendees.each do |attendee| %>
  <% unless attendee == current_user %>
    <li>
      <%= attendee.name %>
    </li>
  <% end %>
<% end %>
</ul>

<%= link_to 'Back', events_path %> |

<% if current_user == @event.creator %>
  <%= link_to 'Edit', edit_event_path %> |
  <%= link_to 'Delete', event_path, method: :delete %>
<% elsif @event.attendees.include?(current_user) %>
  <%= link_to 'Cancel RSVP', unattend_event_path unless @event.datetime < Time.now %>
  <p>You're attending this event.</p>
<% else %>
  <%= link_to 'RSVP', attend_event_path unless @event.datetime < Time.now %>
<% end %>